<p>Ahoj {{userDisplayName}},</p>
<p>Děkujeme za registraci! Prosíme, potvrďte svou e-mailovou adresu kliknutím na
  odkaz níže:</p>
<p><a href='{{confirmationLink}}'>Potvrdit e-mail</a></p>
<p>Pokud jste se neregistrovali, tento e-mail prosím ignorujte.</p>