<p>Dobrý den {{userDisplayName}},</p>
<p>Obdrželi jsme žádost o resetování vašeho hesla. Klikněte na odkaz níže a
  nastavte si nové heslo:</p>
<p><a href='{{resetLink}}'>Resetovat heslo</a></p>
<p>Pokud jste o resetování hesla nepožádali, tento e-mail můžete ignorovat.</p>